<div class="flex justify-center items-center h-screen">
  <div style="width: 568px;"
    class="shadow shadow-white/50 bg-gray-600/20 flex my-20 px-10 py-10 rounded-xl  mx-auto   ">
    <div class="px-8 py-6 w-full">
      <h2 class="text-2xl font-semibold mb-5">Registro</h2>
      <form id="registrationForm" method="post" action="/api/auth/register" class="space-y-4 mx-auto ">
        <div class="flex gap-2">
          <div>
            <label for="first_name" class="block">Nombre:</label>
            <input type="text" id="first_name" name="first_name"
              class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
          </div>
          <div>
            <label for="last_name" class="block">Apellido:</label>
            <input type="text" id="last_name" name="last_name"
              class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
          </div>
        </div>

        <div>
          <label for="email" class="block">Correo electrónico:</label>
          <input type="email" id="email" name="email"
            class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
        </div>
        <div>
          <label for="age" class="block">Edad:</label>
          <input type="number" id="age" name="age"
            class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
        </div>

        <div>
          <label for="password" class="block">Contraseña:</label>
          <input type="password" id="password" name="password"
            class="text-black w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
        </div>

        <button type="submit"
          class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
          Registrarse
        </button>

      </form>
      <div class="flex gap-2 mt-2 text-sm justify-end">
        <p>¿Ya Tienes cuenta?</p>
        <a class="border-b hover:border-blue-600 hover:text-blue-600 duration-600" href="/auth/login">Inicia sesión</a>
      </div>
    </div>
  </div>
</div>