<div style="color: rgb(164, 25, 25); font-family: monospace;">
  <h1>404</h1>
  <h2>Ruta no encontrada. Error del cliente.</h2>
</div>
<a style="font-family: monospace;" href="/home">Volver al inicio</a>