<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-center pt-10 gap-4">
  <h1 class="text-xl animate-bounce">Bienvenido a Electro - Land. El sitio de compras de los Argentinos en los 90 en Miami! </h1>
</div>